---
---

<p>
  Привет! Меня зовут Иван. Здесь я пишу о программировании,
  работе с большими данными, современных инструментах в 
  мире Data Engineering.
  Веду небольшой обучающий проект
   <a
    href="https://vndv.github.io/LearningSQL/#/"
    target="_blank">LearningSQL</a
  >.
</p>
<p>
  В данный момент работаю на позииции Data Engineer. 
  Занимаюсь построением дата-платформы.
  Выстраиваю стратегию data quality и data governance.
</p>
<p><b>Консультации</b>: Я открыт для менторинга и работы со стартапами</p>
