---
import Nav from "./Nav.astro";
---

<header class="flex justify-between my-4 border-b-2 border-b-sky-500 pb-2">
  <div class="text-left">
    <span
      ><a href="/" class="tracking-widest no-underline text-xl"
        >~/vndv git:(main)</a
      ></span
    >
  </div>
  <div class="text-right">
    <Nav />
  </div>
</header>
